@charset "utf-8";


#header {
    height: 150px;
    background-repeat: no-repeat;
    text-align: center;
    width: 960px;   
    color: #ffffff;
    font-size: 25px;
    font-family: Arial;
    line-height: 150px;
    background-image: url("https://marmotamaps.com/de/fx/wallpaper/download/faszinationen/Marmotamaps_Wallpaper_Berchtesgaden_Desktop_1920x1080.jpg");
}